.btn {
    height: 45px;
    background: $main-color;
    box-shadow: none;
    padding: 12px 26px;
    box-shadow: 3px 3px 0px rgba(255,165,1, 0.3);
    transition: all 200ms ease-in-out;
    border: none;
    color: $white;
    font-weight: bold;
    font-size: 14px;
    &:hover {
        
        transform: translate(3px, 3px);
        box-shadow: none;
    }
    &:focus {
        border: none;
        outline: none;
    }

    &_invis {
        background: none;
        box-shadow: none;
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }
}










