.page {
    .title {
        padding: 40px 0;
    }
    h1 {
        padding-top: 30px;
        padding-left: 10px;
    }
    h2 {
        padding-top: 30px;
        padding-left: 10px;
    }
    h3 {
        padding-top: 30px;
        padding-left: 10px;
    }
    p {
        padding-top: 20px;
    }
    
    ul {
        padding-top: 20px;
    }
}















